{% extends 'base.html' %}

{% block title %}Edit review{% endblock %}

{% block content %}

    <h3 class="mb-5">Are you sure delete your review?</h3>
    <div class="row">
        <div class="col-8">
            <p class="h5"><b>Title</b>: {{ book.title }} </p>
            <p><b>Comment</b>: {{ review.comment }} </p>
            <a href="{% url 'books:delete-review' book.id review.id %}" class="btn btn-outline-danger">Yes</a>
            <a href="{% url 'books:detail' book.id %}" class="btn btn-outline-success">No</a>
        </div>
    </div>

{% endblock %}