{% extends 'base.html' %}

{% block title %}Profile page{% endblock %}

{% block content %}
    <div class="row gutters-sm">
        <div class="col-md-3 mb-3">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex flex-column align-items-center text-center">
                        <img src="{{ user.profile_picture.url }}" alt="Admin"
                             class="rounded" width="150">
                        <div class="mt-3">
                            <button class="btn btn-dark btn-sm">Follow</button>
                            <button class="btn btn-outline-dark btn-sm">Message</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <h5 class="mb-0">Full Name</h5>
                        </div>
                        <div class="col-sm-9 text-dark">
                            <h5>{{ user.full_name }}</h5>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Details</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            Uzbekistan
                        </div>
                    </div>
                    <div class="row pt-1">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Email</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            <a href="https://{{ user.email }}">{{ user.email }}</a>
                        </div>
                    </div>
                    <div class="row pt-1">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Activity</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            Joined in {{ user.date_joined | date:"M d, Y" }}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-12">
                            <a class="btn btn-outline-secondary btn-sm" target="__blank"
                               href="{% url 'users:edit-profile' %}">Edit
                                profile</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}